#background{
  background-image: url("/home.png");
  background-size: cover;
  background-position-x: center;
}
.App {
  text-align: center;
}
.landing {
  width:100%;
  overflow:hidden;
  position: relative;
}
.picture {
  position: absolute;
  display: block;
  margin: auto;
  z-index: -1;
}
.cover {
  max-width: 100%;
}
.section{
  min-height: 80vh
}
.heading {
  font-size: 5vh;
}
.lato {
  font-family: Lato !important;
  font-weight: 300 !important;
}
.content {
  font-size: 3vh;
}
.sectionHeader {
  padding-top: 10vh
}

#section3 {
  background-color: rgb(25,25,25);
}
#home{
  color: white;
  min-height: 100vh;
  padding-top: 20vh
}
.downlink{
  animation: bounce 2s infinite;
}

.Typist .Cursor {
  display: inline-block; }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

.projectIcon {
  max-height: 10vh;
}

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


#container {
  position: relative;
  margin-top: 10vh;
  display: inline-block;
  width: 60vh;
  height: 45vh;
  margin-right: 2vh;
}
.overlay {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

#container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}
#section5{
  background: lightgray;
}
#img {
  position: absolute;
  max-width: 60vh;
  height: 45vh;
  left:0;
}

.title {
  position: absolute;
  width: 50vh;
  top: 5vh;
  color: white;
  z-index: 1;
  opacity: 0;
  transition: top .5s ease;
  left:5vh;
}

#container:hover .title {
  top: 10vh;
  opacity: 1;
}

.button {
  position: absolute;
  width: 500px;
  left:0;
  top: 30vh;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.visit {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

#container:hover .button {
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .title {
    top: 0vh;
  }
  .cover {
    min-height: 100vh !important;
    max-width: 200% !important;
  }
  #container:hover .title{
    top: 5vh;
  }
}